<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/CSS/style.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
	<nav>
        <ul class="navList">
            <li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
            <li class="navItem"><a href="/events">Events</a></li>
            <li class="navItem"><a href="/users/<%=userId%>/show">Profile</a></li>
            <h1 class='headline'>Grassroots</h1>            
            <li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>            
            <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit Profile</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Edit Your Event Below</h1>
    <div class='editForm'>
        <form action="/events/<%=event._id%>?_method=PUT" method="post">
    		Event Name: <input type="text" name="name" value="<%=event.name%>"><br/>
    		Location: <input type="text" name="location" value="<%=event.location%>"><br/>
    		Date: <input type="date" name="date" value="<%=event.date%>"><br/>
    		Time: <input type="time" name="time" value="<%=event.time%>"><br/>
    		Image URL: <input type="text" name="eventPic" value="<%=event.eventPic%>"><br/>
    		Description: <input type="text" name="description" value="<%=event.description%>"><br/>
    		<button type="submit">Edit Event</button>
    	</form>
        <form action="/events/<%=event._id%>?_method=DELETE" method="post">
            <button type="Submit">Delete Event</button>
        </form>
    </div>
</body>
</html>