<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/CSS/form.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
	<nav>
        <ul class="navList">
            <li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
            <li class="navItem"><a href="/events">Events</a></li>
            <li class="navItem"><a href="/users/<%=userId%>/show">Profile</a></li>
            <h1 class='headline'>Grassroots</h1>            
            <li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>            
            <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit Profile</a></li>
        </ul>
    </nav>
</header>

<body class = "bodyEdit">
    <h2>Make changes to your event below</h2>
    <div class='editForm'>
        <div class="innerForm">
            <form action="/events/<%=event._id%>?_method=PUT" method="post">
            <div class = "innerFormProperties">
                <div class= "innerLabelsEvents">
                    <h3>Event Name: </h3> 
                    <h3>Location: </h3> 
                    <h3>Date: </h3>                
                    <h3>Time: </h3>                 
                    <h3>Image URL: </h3>
                    <h3>Description: </h3>
                </div>
                <div class = "innerInputEvents">
                    <input type="text" name="name" value="<%=event.name%>"><br/>
                    <input type="text" name="location" value="<%=event.location%>"><br/>
                    <input type="date" name="date" value="<%=event.date%>"><br/>
                    <input type="time" name="time" value="<%=event.time%>"><br/>
                    <input type="text" name="eventPic" value="<%=event.eventPic%>"><br/>
                    <input type="text" name="description" value="<%=event.description%>"><br/>
                </div>
            </div>
            </br>
            <button class="buttonCSS" type="submit">Make Changes</button>
            </form>
        </div>
            </br>
        <form action="/events/<%=event._id%>?_method=DELETE" method="post">
            <button class="buttonCSS" type="Submit">Delete Event</button>
        </form>
    </div>
</body>





<!-- 
<body>
    <h1>Edit Your Event Below</h1>
    <div class='editForm'>
        <form action="/events/<%=event._id%>?_method=PUT" method="post">
    		Event Name: <input type="text" name="name" value="<%=event.name%>" required="true"><br/>
    		Location: <input type="text" name="location" value="<%=event.location%>" required="true"><br/>
    		Date: <input type="date" name="date" value="<%=event.date%>" required="true"><br/>
    		Time: <input type="time" name="time" value="<%=event.time%>" required="true"><br/>
    		Image URL: <input type="text" name="eventPic" value="<%=event.eventPic%>" required="true"><br/>
    		Description: <input type="text" name="description" value="<%=event.description%>"><br/>
    		<button type="submit">Edit Event</button>
    	</form>
        <form action="/events/<%=event._id%>?_method=DELETE" method="post">
            <button type="Submit">Delete Event</button>
        </form>
    </div>
</body>
</html> -->