<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upcoming Events</title>
</head>
<header>
    <nav>
        <ul class="navList">
            <li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
            <li class="navItem"><a class="active" href="/events">Events</a></li>
            <li class="navItem"><a href="/users/<%=userId%>/show">Profile</a></li>
            <h1 class='headline'>Grassroots</h1>
            <li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>            
            <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit Profile</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="eventsHeader">Upcoming Events That Might Interest You</h2>
            </div>
            <div class="eventsList">
                <% for(let i = 0; i < event.length; i++){ %>
                    <div class="eventBanner">
                        <img class="eventPic"src="<%=event[i].eventPic%>">
                        <a href="/events/<%=event[i]._id%>">
                            <h3 class="eventTitle" >
                                <%=event[i].name%>
                            </h3>
                        </a>
                        <h4 class="location">Location: <%=event[i].location%></h4>
                        <h4 class="date">Date: <%=event[i].date%></h4>
                        <h4 class="time">Time: <%=event[i].time%></h4>
                        <p class="eventDescription">
                            <%=event[i].description%>
                        </p>
                    </div>
                <%}%>
            </div>
        </div>
    </div> 
</body>
</html>