
<!DOCTYPE html>
<html>
<head>
    <title>Events</title>
</head>
<header>
    <nav>
        <a href="/users/<%=userId%>">Home</a>
        <a href="/events">Events</a>
        <a href="/users/<%=userId%>/show">Profile</a>
        <a href='/auth/logout'>Logout</a>
        <a href="/users/<%=userId%>/edit">Edit your profile!</a>
    </nav>
</header>
<body>
    <h1>Upcoming Events</h1>
    <div class= "eventList">
        <%for(let i = 0; i < event.length; i++){%>
            <p><a href="/events/<%=event[i]._id%>"><%=event[i].name%></a></p>
        <%}%>
    </div>
</body>
</html>