<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upcoming Events</title>
</head>
<header>
    <nav>
        <ul class="navList">
            <li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
            <li class="navItem"><a class="active" href="/events">Events</a></li>
            <li class="navItem"><a href="/users/<%=userId%>/show">Profile</a></li>
            <li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>            
            <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit your profile!</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Upcoming Events That Might Interest You</h1>
    <div class="eventsList">
        <%for(let i = 0; i < event.length; i++){%>
            <p>
                <a href="/events/<%=event[i]._id%>">
                    <%=event[i].name%>    
                </a>
            </p>
        <%}%>
    </div>
</body>
</html>