<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Look at events</h1>
    <nav>
        <a href="/users">Home</a>
        <a href="/events">Events</a>
        <a href="/users">Profile</a> -->
            <!-- Add user session id into profile href -->
<!--     </nav>
    <div>Filter fuctions</div>
    <div>List of events</div>
</body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendess for the Event</title>
</head>
  <body>
    <header>
      <nav>
        <a href="/users">Home</a>
        <a href="/events">Events</a>
        <a href="/users">Profile</a>
            <!-- Add user session id into profile href -->
      </nav>
      <h1>Attendees for <%=event.name%></h1>
      <nav> <!-- May  not be needed considering we are doing a NAV bar but figured to have it till then -->
        <ul>
          <li>
            <a href="/">Home</a> 
          </li>
          <li>
            <a href="/events">Events Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Event Details:</h2>   
        <ul>
          <li>Event: <%=event.name%></li>
          <li>Event: <%=event.location%></li>
          <li>Event: <%=event.date%></li>
          <li>Event: <%=event.time%></li>
          <li>Event: <%=event.eventPic%></li>
          <li>Event: <%=event.description%></li>
        </ul>
      </section>
      <section>
          <h2>Attendees for <%=event.name%>:</h2> <!-- how do we get the user ID from when someone clicks attending -->
          <ul>
              <% for(let i = 0; i < event.attendees.length; i++){ %>
                  <li><a href="/users/<%=event.attendees[i]._id%>"><%=event.attendees[i].displayName%></a></li>
              <% } %>
          </ul>
      </section>
      <section>
        <a href="/event/<%=user._id%>/edit">Edit Event</a>  <!-- need to check if it's the organizer's event before they can view this feature -->
      </section>
      <section>
        <form action="/event" method="POST">
          <button type='Submit'>Attend!</button>
        </form>
        <form action="/event/<%=event.users._id%>?_method=DELETE" method="POST">  <!-- Delete user from event  -->
          <button type='submit'>Backout</button>
        </form>
      </section>
    </main>
  </body>
</html>