<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendess for the Event</title>
</head>
<header>
    <nav>
      <ul class="navList">
        <li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
          <li class="navItem"><a href="/events">Events</a></li>
          <li class="navItem"><a href="/users/<%=userId%>/show">Profile</a></li>
          <h1 class='headline'>Grassroots</h1>          
          <li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>          
          <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit Profile</a></li>
        </ul>
    </nav>
</header>        
<body>     
    <div class="eventShowPage">  
        <img src="<%=event.eventPic%>">
        <div class="showEventInfo">
            <h1><%=event.name%></h1>
            <h4>Event Organizer: <a href="/users/<%=eventCreator%>/show"><%=creatorName%></a></h4>
            <h4>Event Location: <%=event.location%></h4>
            <h4>Event Date: <%=event.date%></h4>
            <h4>Event Time: <%=event.time%></h4>
            <div class="eventShowDescription">
                <h6>Event description: <%=event.description%></h6>
            </div>
        </div>
        <h2>Attendees</h2>
        <div class="buttonSection">
            <% if(userId.toString() === eventCreator.toString()){ %>
                <form action="/events/<%=event._id%>/edit" method="get">
                    <button class="buttonCSS" type="submit">Edit Event</button>
                </form>
            <% } %>
            <% if(userId.toString() !== eventCreator.toString()){ %>
                <form action="/events/<%=event._id%>/attendee" method="POST">
                    <button type='Submit'>Attend!</button>
                </form> <!-- tricking browser to knowing how to handle delete and put method -->
                <form action="/events/<%=event._id%>/attendee?_method=DELETE" method="POST">
                    <button type='Submit'>Abort!</button>
                </form>
            <% } %>
        </div>
        <div class="attendeesList">
            <ul>
                <% for(let i = 0; i < event.attendees.length; i++){ %>
                    <li>
                        <a href="/users/<%=event.attendees[i]._id%>/show">
                            <%=event.attendees[i].displayName%>
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>     
  </body>
</html>