<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendess for the Event</title>
</head>
<header>
    <nav>
        <a href="/users/<%=userId%>">Home</a>
        <a href="/events">Events</a>
        <a href="/users/<%=userId%>/show">Profile</a>
        <a href='/auth/logout'>Logout</a>
        <a href="/users/<%=userId%>/edit">Edit your profile!</a>
    </nav>
</header>        
<body>
    <div class="eventList">              
        <h1><%=event.name%></h1>
        <img class='eventPic' src="<%=event.eventPic%>"><br/>
        Event Description: <%=event.description%><br/>
        Event Location: <%=event.location%><br/>
        Event Date: <%=event.date%><br/>
        Event Time: <%=event.time%><br/>
    </div> 
    <div class="attendeesList">
      <h2>Attendees</h2>
          <ul>
              <% for(let i = 0; i < event.attendees.length; i++){ %>
                  <li>
                      <a href="/users/<%=event.attendees[i]._id%>/show">
                          <%=event.attendees[i].displayName%>
                      </a>
                  </li>
              <%}%>
          </ul>
    </div>
    <a href="/events/<%=event._id%>/edit">Edit Event</a>
    <form action="/events/<%=event._id%>" method="POST">
        <button type='Submit'>Attend!</button>
    </form>
  </body>
</html>