<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <nav>
            <a href="/users/<%=userId%>">Home</a>
            <a href="/events">Events</a>
            <a href="/users/<%=userId%>/show">Profile</a>
            <a href='/auth/logout'>Logout</a>
            <!-- Add user session id into profile href -->
    </nav>
</head>
<body>
    <h1> Organizer index</h1>
    <ul>
         <% for(let i = 0; i < organizer.createdEvents.length; i++){ %>
            <li>
                <a href="/events/<%=organizer.createdEvents[i]._id%>">
                    <%=organizer.createdEvents[i].name%>    
                    </a>
                </li>
        <% } %>
    </ul>
    <h2>Attending Events</h2>
    <ul>
            <% for(let i = 0; i < user.attendingEvents.length; i++){ %>
                <li><a href="/events/<%=user.attendingEvents[i]._id%>">
                    <%=user.attendingEvents[i].name%>   
                    </a>
                </li>
            <% } %>
    </ul>
    <form action="/events/new" method="get">
        <button type="submit">Create new event</button>
    </form>
</body>
</html>