<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
    <nav>
        <ul class="navList">
            <li class="navItem"><a href="/users/<%=userId%>">Home</a></li>
            <li class="navItem"><a href="/events">Events</a></li>
            <li class="navItem"><a class="active" href="/users/<%=userId%>/show">Profile</a></li>
            <h1 class='headline'>Grassroots</h1>            
            <li class="navItem" style="float:right"><a href='/auth/logout'>Logout</a></li>            
            <li class="navItem" style="float:right"><a href="/users/<%=userId%>/edit">Edit Profile</a></li>
        </ul>
    </nav>
</header>    
<body>    
    <div class='userHead'>
        <h1><%=user.displayName%></h1>
        <img class='profilePic' src="<%=user.profilePic%>"><br/>
        Name: <%=user.name%><br/>
        Location: <%=user.location%><br/>
        Email: <%=user.location%><br/>
    </div>
    <h2>Check out <%=user.displayName%>'s Upcoming Events!</h2>
    <div class='eventsList'>
        <ul>
            <% for(let i = 0; i < userCreated.createdEvents.length; i++){ %>
                <li>
                    <a href="/events/<%=userCreated.createdEvents[i]._id%>">
                        <%=userCreated.createdEvents[i].name%>    
                    </a>
                </li>
            <%}%>
        </ul>
    </div>
    <h2>Attending Events</h2>
    <div class="eventsList">
        <ul>
            <% for(let i = 0; i < user.attendingEvents.length; i++){ %>
                <li>
                    <a href="/events/<%=user.attendingEvents[i]._id%>">
                        <%=user.attendingEvents[i].name%>   
                    </a>
                </li>
            <%}%>
        </ul>
    </div>
</body>
</html>