<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
            <a href="/users/<%=userId%>">Home</a>
            <a href="/events">Events</a>
            <a href="/users/<%=userId%>/show">Profile</a>
            <a href='/auth/logout'>Logout</a>
            <!-- Add user session id into profile href -->
    </nav>
    <div class='userHead'>
        <h1>Meet <%=user.displayName%></h1>
        <img class='profilePic' src="<%=user.profilePic%>">
    </div>
    <h2>Check out <%=user.displayName%>'s upcoming events!</h2>
<!--     <if(let i = 0; i < user.createdEvents.length; i++)%>
        <div class='organizerEvents'>
            <img class ='eventPic' src="<=user.createdEvents[i].eventPic%>">
            <h3 class='eventTitle'>
                <a href="events/<=user.createdEvents[i]._id%>">
                    <=user.createdEvents[i].name%>
                </a>        
            </h3>
            <h3 class='eventTime'>Date:<=user.createdEvents[i].time%></h3>
        </div>
    <}%> -->
</body>
</html>