<!DOCTYPE html>
<html>
<head>
	<title>User Index Page</title>
</head>
<header>
    <nav>
            <a href="/users/<%=userId%>">Home</a>
            <a href="/events">Events</a>
            <a href="/users/<%=userId%>/show">Profile</a>
            <a href='/auth/logout'>Logout</a>
            <!-- Add user session id into profile href -->
    </nav>
</header>
<body>
	<h1>Welcome<%=user.displayName%></h1>
	<h2>Events You're Attending</h2>
	<ul>
			<% for(let i = 0; i < user.attendingEvents.length; i++){ %>
				<li><a href="/events/<%=user.attendingEvents[i]._id%>"><%=user.attendingEvents[i].name%></a></li>
			<% } %>
	</ul>
</body>
</html>