<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attendee's Profile</title>
</head>
<header>
        <nav>
        <a href="/users">Home</a>
        <a href="/events">Events</a>
        <a href="/users">Profile</a>
            <!-- Add user session id into profile href -->
    </nav>
</header>
<body>
    <div class='userHead'>
        <h1>Meet <%=user.displayName%></h1>
        <img class='profilePic' src="<%=user.profilePic%>">
        Name: <%=user.name%>
        Location: <%=user.location%>
        Email: <%=user.location%>
    </div>
    <h2>Check out <%=user.displayName%>'s events they are attending!</h2>
    <%if(let i = 0; i < user.attendingEvents.length; i++%>
        <div class='attendeeEvents'>
            <img class ='eventPic' src="<%=user.attendingEvents[i].eventPic%>">
            <h3 class='eventTitle'>
                <a href="events/<%=user.attendingEvents[i]._id%>">
                </a>        
            </h3>
            <h3 class='eventTime'>Date:<%=user.createdEvents[i].time%></h3>
        </div>
    <%}%>
</body>